
.button{
  background-color: rgb(255, 196, 221);
  outline: none;
  border: none;
  margin: 5px;
  border-radius: 5px;
}

.card {
  background-color: rgb(130, 162, 132);
}

.sidebar {
  background-color: rgb(130, 162, 132);
}
